# iNaturalist Simple API Observation Counts

## Description

A simple script to generate month by month observation counts for a specified taxon id. Edit the search list with taxon ids to generate observation counts. Output is dynamically printed to standard out.

In [2]:
import requests
import json

search = ['48662', '49348', '129362', '68263', '49150', '50072', '50931', '48548', '50340', '51743']
month = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
month_name = ["NULL", "Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"]

for i in search:
    print("-----------")
    print("ID:", i)
    print("-----------")
    for j in month:
        target = "http://api.inaturalist.org/v1/observations?taxon_id={}&month={}&year=2016".format(i,j)
        r = requests.get(url = target)
        x = json.loads(r.text)
        print(month_name[j] ,x['total_results'])

-----------
ID: 48662
-----------
Jan 102
Feb 175
Mar 266
Apr 304
May 216
June 224
July 416
Aug 742
Sep 984
Oct 1249
Nov 584
Dec 265
-----------
ID: 49348
-----------
Jan 1
Feb 6
Mar 73
Apr 59
May 43
June 26
July 67
Aug 70
Sep 50
Oct 16
Nov 5
Dec 1
-----------
ID: 129362
-----------
Jan 3
Feb 1
Mar 1
Apr 7
May 4
June 4
July 9
Aug 13
Sep 48
Oct 87
Nov 109
Dec 20
-----------
ID: 68263
-----------
Jan 0
Feb 2
Mar 4
Apr 11
May 14
June 33
July 32
Aug 32
Sep 31
Oct 21
Nov 5
Dec 3
-----------
ID: 49150
-----------
Jan 29
Feb 33
Mar 42
Apr 80
May 88
June 97
July 192
Aug 243
Sep 348
Oct 698
Nov 387
Dec 75
-----------
ID: 50072
-----------
Jan 1
Feb 5
Mar 10
Apr 9
May 18
June 40
July 54
Aug 104
Sep 73
Oct 76
Nov 12
Dec 3
-----------
ID: 50931
-----------
Jan 4
Feb 29
Mar 16
Apr 128
May 99
June 100
July 123
Aug 162
Sep 219
Oct 240
Nov 29
Dec 2
-----------
ID: 48548
-----------
Jan 12
Feb 24
Mar 32
Apr 61
May 47
June 97
July 121
Aug 86
Sep 76
Oct 104
Nov 164
Dec 38
-----------
ID: 50340
-----------
Jan 5
Feb 11
Mar 40
Apr 72
May 65
June 117
July 148
Aug 223
Sep 292
Oct 279
Nov 128
Dec 17
-----------
ID: 51743
-----------
Jan 15
Feb 9
Mar 12
Apr 20
May 31
June 55
July 92
Aug 118
Sep 201
Oct 364
Nov 244
Dec 82